body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,9,121,1) 35%, rgba(170,0,255,1) 100%);
}

.container {
}

.header {
  height: 30px;
  background-color: white;
  font: verdana;
  box-shadow: 10px 10px 5px grey;
}

.sidebar {
  background-color: #212529;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  background-color: #ebebeb;
  height: 100vh;
  padding: 20px;
}
