body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,9,121,1) 35%, rgba(170,0,255,1) 100%);
}

.header {
  height: 30px;
  background-color: white;
  font: verdana;
  box-shadow: 10px 10px 5px grey;
}

.container {
  background-color: #ebebeb;
  /* border-style: solid; */
}
/*
.nav-link {
  width: 25px;
} */

.nav-item {
  display: flex;
}

.sidebar {
  background-color: #212529;
  position: absolute;
  height: 100%;
  width: 200px;
  /* border-radius: 25px; */
}

.nav .li {
  width: 80px;
  list-style-image: url('/node_modules/bootstrap-icons/icons/alarm.svg');
}
